.navv {
  position: sticky;
  position: -webkit-sticky; /* For Safari */
  top: 24px; /* How far down the page you want your ToC to live */
  color: #f1faee;
  /* Give table of contents a scrollbar */
  max-height: calc(100vh - 40px);
  overflow: auto;

  width: 220px;
  min-width: 220px;
  padding: 25px;
  margin: 15px 1rem;
  align-self: flex-start;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  max-height: calc(100vh - 70px);
  overflow: auto;
  background: #e63946 none repeat scroll 0 0;
  border: 1px solid #aaa;
  display: table;
  font-size: small;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 15px 50px;
  right: -2rem;
}
h1,
h2 {
  scroll-margin-top: 16px;
}

/* Safari-only */
@supports (-webkit-hyphens: none) {
  h1,
  h2 {
    padding-top: 16px;
    margin-top: -16px;
  }
}
