.navv {
  position: sticky;
  position: -webkit-sticky; /* For Safari */
  top: 24px; /* How far down the page you want your ToC to live */
  color: #e63946;
  /* Give table of contents a scrollbar */
  max-height: calc(100vh - 40px);
  overflow: auto;

  width: 220px;
  min-width: 220px;
  padding: 25px;
  margin: 10px;
  align-self: flex-start;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 6rem;
  max-height: calc(100vh - 70px);
  overflow: auto;
}
h1,
h2 {
  scroll-margin-top: 16px;
}

/* Safari-only */
@supports (-webkit-hyphens: none) {
  h1,
  h2 {
    padding-top: 16px;
    margin-top: -16px;
  }
}

