body {
  width: -moz-fit-content;
  font-family: sans-serif;
  line-height: 1.6;
  background-color: inherit;
}
.container {
  max-width: 1050px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}

.aaa {
  color: #457b9d;
  font-weight: 200;
  line-height: 2rem;
  margin: 20px 0 20px 24px;
  text-align: center;
}
main {
  max-width: 800px;
  background-color: inherit;
  padding: 16px;
  border-radius: 8px;
  margin-left: 8px;
}
.card {
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 25px;
  flex: 9;
  margin: 1rem 1rem;
  border-radius: 15px 50px;
  width: 720px;
  height: 285px;
}

@media screen and (max-width: 980px) {
  .navv {
    display: none;
  }
  .card {
    width: auto;
  }
}

a {
  color: #a6acc9;
  text-decoration: none;
}

li.active > a {
  color: white;
}

li > a:hover {
  color: white;
}

/*  Gives a little bit of buffer when header is navigated to */
h2,
h3 {
  color: #457b9d;
  padding-top: 16px;
  margin-top: -16px;
}
